<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="pt-BR">

<head>
  <title>part0010</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  <link rel="stylesheet" type="text/css" href="../Styles/stylesheet.css" />

  <link rel="stylesheet" type="text/css" href="../Styles/page_styles.css" />

</head>

<body class="class5">
  <div class="class_s1v1">
    <div id="page_19" class="class_s12">1<span class="class_s65b">°</span> de janeiro</div>
    <div class="class_s13">CONTROLE E ESCOLHA</div>
    <div class="class_s8c"><span class="class_s14">
        <img src="../Images/00010.jpeg" alt="" class="class_s15" />
      </span>A principal tarefa na vida é simplesmente esta: identificar e separar as questões de modo que eu possa
      dizer claramente para mim mesmo quais são externas, fora de meu controle, e quais têm a ver com as escolhas que
      realmente controlo. Para onde então devo olhar à procura do bem e do mal? Não para coisas externas incontroláveis,
      mas dentro de mim, para as escolhas que<span class="class_s16"> são minhas...</span><span class="class_s17">
        <img src="../Images/00009.jpeg" alt="" class="class_s15" />
      </span></div>
    <div class="class_s8e">Epicteto, <span class="class_s5">Discursos</span>, 2.5.4-5</div>
    <div class="class_s5k1">A prática mais importante na filosofia estoica é a distinção entre o que podemos mudar e o
      que não podemos. Aquilo sobre o que temos influência e aquilo sobre o que não temos. Se um voo é adiado por causa
      das condições do clima, você pode gritar o quanto quiser com o representante da companhia aérea; isso não vai
      fazer a tempestade parar. Não importa o quanto você deseje, isso não o tornará mais alto ou mais baixo ou fará com
      que tenha nascido em outro país. Por mais que tente, você não pode <span class="class_s8">fazer</span> alguém
      gostar de você. Além disso, o tempo que gastamos arremessando-nos contra esses objetos inamovíveis é tempo que não
      empregamos em coisas que <span class="class_s8">podemos </span>mudar.</div>
    <div class="class_s5n1">As instituições de reabilitação social praticam algo chamado Prece da Serenidade: “Deus,
      concedei-me a serenidade para aceitar as coisas que não posso mudar, a coragem para mudar as <span
        id="page_20"></span>coisas que posso e a sabedoria para distingui-las.” Dependentes não podem mudar o abuso que
      sofreram na infância. Não podem desfazer as escolhas do passado ou o dano que causaram. Mas <span
        class="class_s8">podem </span>mudar o futuro — através do poder que possuem no presente momento. Como disse
      Epicteto, eles podem controlar as escolhas que fazem neste momento.</div>
    <div class="class_s5n1">O mesmo se aplica a nós, hoje. Se pudermos nos concentrar em esclarecer quais partes de
      nosso dia podemos controlar e que partes não podemos, seremos mais felizes e também teremos uma nítida vantagem
      sobre as pessoas incapazes de perceber que travaram uma batalha impossível de ser vencida.</div>
  </div>
</body>

</html>