<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!--?xml version='1.0' encoding='utf-8'?--><html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="pt-BR">
<head>
    <title>part0231</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  
<link rel="stylesheet" type="text/css" href="../Styles/stylesheet.css"/>

<link rel="stylesheet" type="text/css" href="../Styles/page_styles.css"/>

</head>
  <body class="class5">
<div class="class_s1v1"><div id="page_366" class="class_s12">1<span class="class_s65b">°</span> de agosto</div>
<div class="class_s13">NÃO ESPERE PERFEIÇÃO</div>
<div class="class_s8c"><span class="class_s14">
<img src="../Images/00010.jpeg" alt="" class="class_s15"/>
</span>O pepino está amargo, então joga-o fora! Há espinhos no caminho? Então mantém-te afastado! Não é preciso dizer mais. Por que pensar sobre a existência de aborrecimentos? Esse pensamento faria de ti um objeto de riso para o verdadeiro estudioso da Natureza, assim como um carpinteiro ou sapateiro riria se tu chamasses a atenção para a serragem e as lascas de madeira no chão das respectivas oficinas. Contudo, eles dispõem de um lugar para descartar esses resíduos; já a Natureza não tem nenhuma<span class="class_s16"> necessidade disso.</span><span class="class_s17">
<img src="../Images/00009.jpeg" alt="" class="class_s15"/>
</span></div>
<div class="class_s8e">Marco Aurélio, <span class="class_s5">Meditações</span>, 8.50</div>
<div class="class_s5k1">Queremos que tudo corra perfeitamente, por isso dizemos a nós mesmos que vamos começar assim que as condições forem as adequadas, ou uma vez que estejamos orientados. Quando, realmente, seria melhor nos concentrarmos em nos contentarmos com o modo como as coisas realmente são.</div>
<div class="class_s5n1">Marco Aurélio lembrou a si mesmo: “Não espera a perfeição da <span class="class_s8">República </span>de Platão.” Ele não esperava que o mundo fosse da maneira exata que desejava, mas sabia instintivamente, como o filósofo católico Josef Pieper escreveria mais tarde, que “só pode fazer bem aquele que sabe como são as coisas e qual é a situação delas”.</div>
<div id="page_367" class="class_s5n1">Hoje, não deixaremos que nossa compreensão honesta do mundo nos impeça de tentar tirar o melhor partido dele. Nem deixaremos que pequenos aborrecimentos e obstáculos menores atrapalhem o importante trabalho que temos de fazer.</div>
</div>
</body>
</html>