<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!--?xml version='1.0' encoding='utf-8'?--><html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="pt-BR">
<head>
    <title>part0232</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  
<link rel="stylesheet" type="text/css" href="../Styles/stylesheet.css"/>

<link rel="stylesheet" type="text/css" href="../Styles/page_styles.css"/>

</head>
  <body class="class5">
<div class="class_s1v1"><div id="page_368" class="class_s12">2 de agosto</div>
<div class="class_s13">PODEMOS TRABALHAR NÃO IMPORTA A MANEIRA</div>
<div class="class_s8c"><span class="class_s14">
<img src="../Images/00010.jpeg" alt="" class="class_s15"/>
</span>Como poderia o exílio ser um obstáculo para o cultivo próprio de uma pessoa, ou para alcançar virtude, se ele jamais impediu alguém de aprender ou praticar o que<span class="class_s16"> é necessário?</span><span class="class_s17">
<img src="../Images/00009.jpeg" alt="" class="class_s15"/>
</span></div>
<div class="class_s8e">Musônio Rufo, <span class="class_s5">Palestras</span>, 9.37.30-31, 9.39.1</div>
<div class="class_s5k1">Tarde em sua vida, após uma cirurgia, Theodore Roosevelt foi informado de que poderia viver o restante de seus dias em uma cadeira de rodas. Com seu entusiasmo característico, ele respondeu: “Certo! Posso trabalhar dessa maneira também!”</div>
<div class="class_s5n1">É assim que podemos reagir até às reviravoltas mais incapacitantes do destino — trabalhando dentro de qualquer espaço que reste. Nada pode nos impedir de aprender. De fato, situações difíceis muitas vezes são oportunidades para seus próprios tipos de aprendizado, mesmo que não sejam os tipos de aprendizado que teríamos preferido.</div>
<div class="class_s5n1">Musônio Rufo, de sua parte, foi eLivros três vezes (duas por Nero e uma por Vespasiano), mas ser expulso à força de sua vida e seu lar não afetou seu estudo de filosofia. À sua maneira, ele respondeu: “Certo! Posso trabalhar dessa maneira também.” E ele o fez, conseguindo encaixar alguns encontros com um aluno chamado Epicteto entre seus exílios, e assim ajudando a trazer o estoicismo ao mundo.</div>
</div>
</body>
</html>